<a href="https://colab.research.google.com/github/shivprasad94/annotation_converter/blob/main/Assignment_Lam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<H1>Exercise 1: Data manipulation

In [ ]:
import pandas as pd
dt = {'order_id': ['A','A','B','B','B','C'], 'sku_id': [4,5,4,5,6,4]}
df=pd.DataFrame(data=dt)
df

  order_id  sku_id
0        A       4
1        A       5
2        B       4
3        B       5
4        B       6
5        C       4

In [ ]:
counts = df.merge(df, on='order_id')

In [ ]:
counts

   order_id  sku_id_x  sku_id_y
0         A         4         4
1         A         4         5
2         A         5         4
3         A         5         5
4         B         4         4
5         B         4         5
6         B         4         6
7         B         5         4
8         B         5         5
9         B         5         6
10        B         6         4
11        B         6         5
12        B         6         6
13        C         4         4

In [ ]:
counts=counts.groupby(['sku_id_x', 'sku_id_y']).count().reset_index()
counts

   sku_id_x  sku_id_y  order_id
0         4         4         3
1         4         5         2
2         4         6         1
3         5         4         2
4         5         5         2
5         5         6         1
6         6         4         1
7         6         5         1
8         6         6         1

In [ ]:
counts.loc[counts['XY_ID_x'] < counts['XY_ID_y']]

   XY_ID_x  XY_ID_y  order_id
1        4        5         2
2        4        6         1
5        5        6         1

<H1>Exercise 3: Python Linked Lists Detecting Loop

In [5]:
# A Linked List Node
class Node:
    def __init__(self, data=None, next=None):
        self.data = data
        self.next = next
 
 
# Function to detect a cycle in a linked list using hashing
def detectCycle(head):
 
    curr = head
    s = set()
 
    # traverse the list
    while curr:
 
        # return false if we already have seen this node before
        if curr in s:
            return True
 
        # insert the current node into the set
        s.add(curr)
 
        # move to the next node
        curr = curr.next
 
    # we reach here if the list does not contain any cycle
    return False
 
 
if __name__ == '__main__':
 
    head = None
    for i in reversed(range(5)):
        head = Node(i + 1, head)
 
    # insert cycle
    head.next.next.next.next.next = head.next.next
 
    if detectCycle(head):
        print('Cycle Found')
    else:
        print('No Cycle Found')

Cycle Found